@charset "UTF-8";
/* itemboard 게시판 css */

.container {
   width: 50vw;
   margin: 0 auto;
}
section{
   position: relative;
   top: 150px !important;
}
.item1 {
   display: flex;
   justify-content: space-between;
   font-size: 1.5rem;
   padding-top: 20px;
   /*padding-bottom: 20px;*/
   align-items: baseline;
}
.item1 > h8:nth-child(1){
   font-size : 2.3rem;
   margin-left : 7px;
   margin-bottom : 3px;
}
label{
   margin-bottom : 0;
}
.item3 > label:nth-child(2) > input:nth-child(1) {
   margin-right : 4px;
}
.item2, 
.item3,
.item5,
.item7,
.item10{
   height : 80px
} 
.item2 > h6:nth-child(1),
.item3 > h6:nth-child(1),
.item4 > h6:nth-child(1),

.item6 > h6:nth-child(1),
.item7 > h6:nth-child(1),
.item8 > h6:nth-child(1){
   margin-right : 10px;   
   font-size: 1.5rem;
   margin-left: 9px;   
   padding-bottom: 0;
   margin-bottom: 0;
}
.item5 > h6:nth-child(1){
   margin-left : -1px;
   font-size: 1.5rem;
   padding-bottom: 0;
   margin-bottom: 0;
}
.item6 > h6:nth-child(1){
   margin-left : -1px;
   margin-top : 12px;
}
.item1 > h8:nth-child(2){
   margig : 0 10px 0 0;
}
.item2 {
   border-top: 3px solid black;
   display: flex;
   justify-content: flex-start;
   border-bottom: 1px solid black;
   font-size: small;
   align-items: center;
}
.item2 > h6:nth-child(3){
   margin-bottom:0;
   margin-left : 56px;
   font-size : 1.5rem
}
#textbox{
   width: 22%;
   height: 35px;
}
/* 분실 물품 */
.item3 {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid black;
   padding-top: 10px;
   padding-bottom: 10px;
   align-items : center;
}

.item3 > radio_check {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid black;
   padding-top: 10px;
   padding-bottom: 10px;
}
#datepicker {
   margin-left : 30px;
}
/* 분실 날짜 */
.item5 {
   display: flex;
   padding: 10px 0 10px 10px;
   /* justify-content: space-between; */
   border-bottom: 1px solid black;
   align-items : center;
}


/* 분실 위치 */
.item6{
   display: flex;
   justify-content: center;
   align-items: center;
}
.item6 > h6:nth-child(1){
   padding : 0;
   margin-left: 10px;
   margin-top : 0;
}
div.container-fluid:nth-child(2){
   margin-top : 25px;
}
.item7 {
   border-top : 1px solid black;
} 

#test {
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: baseline;
   margin: 0;
}


#test p {
   width: 50px;
   margin: 0;
}

.item7 {
   display: flex;
   align-items : center;
   padding-top: 20px;
   padding-bottom: 20px;
}
.item7 > h6:nth-child(1){
   margin-right: 58px;
   margin-left: 10px;
}

/* 글 내용 */
.item8 {
   display: flex;
   justify-content: space-between;
   border-top: 1px solid black;
   padding-top: 20px;
   padding-bottom: 20px;
}

.item8_1 {
   margin-left : 9px;
}

.item10 {
   font-size: 1.5rem;
   display: flex;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   align-items: center;
   /* justify-content: center; */
}
.item10 > h6:nth-child(1){
   margin-bottom:0;
   margin-right : 58px;
   font-size:1.5rem;
   padding-left : 9px;

}

.item10_1 {
   display: flex;
   justify-content: space-between;
   border-top: 1px solid black;
   padding-top: 20px;
   padding-bottom: 20px;
}


/* 등록 취소 버튼 */
.btn {
   display: flex;
   justify-content: center;
   /*border-top: 4px solid black;*/
   margin-top: 20px;
   margin-bottom: 20px;
}
#paybtn{
   border: none;
   width: 110px;
   height: 34px;
   border-radius: 22px;
   background: #317AE1;
   color: white;
}
#paybtn:hover{
   background : gold;
   color : gray;
}
div.btn > button:nth-child(1),
div.btn > a:nth-child(2) {
   width: 55px;
   height: 35px;
   border: none;
   font-size: 1.5rem;
   font-family: initial;
   color: #fff;
   background: #317AE1;
   text-align : center;
   margin-right: 12px;
   vertical-align: middle;
   padding-top : 10px;
}
div.btn > a:nth-child(2){
   background : red;
}
.map_wrap {position:relative;width:100%;height:350px;}
.title {font-weight:bold;display:block;}
.hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
 #centerAddr {display:block;margin-top:2px;font-weight: normal;}
.bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}