@charset "UTF-8";


.container {
	margin-left: 300px;
	margin-right: 300px;
	width: 950px;
}

.item1 {
	display: flex;
	justify-content: space-between;
	border-bottom: 4px solid black;
	font-size: small;
	padding-top: 20px;
	/*padding-bottom: 20px;*/
	align-items: baseline;
}

.item2 {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	font-size: small;
	padding-top: 20px;
	/*padding-bottom: 20px;*/
	align-items: baseline;
}

/* 분실 물품 */
.item3 {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
}

.item3 > radio_check {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* 분실 날짜 */
.item5 {
	display: flex;
	padding: 10px 0 10px 10px;
	/* justify-content: space-between; */
	border-bottom: 1px solid black;
}


/* 분실 위치 */
.item6 {
	padding: 10px 0 10px 10px;
	display: flex;
	justify-content: space-between;
	/* align-items: center; */ 
	/* border-bottom: 1px solid black; */ 
	display: block;
}

/*
.container-fluid {
	display: grid;	
    border : 1px dashed red;
    grid-template-rows: 150px 150px;
    row-gap: 10px;
    column-gap: 20px;
   /*  grid-template-columns: 100px 200px; 

 }
 */
 /*
.collapse {
    
    display: grid;
    grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
 
  }
 */ 
/* #Loc1 {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
}

#Loc2 {
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
}
 */


#test {
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin: 0;
}


#test p {
	width: 50px;
	margin: 0;
}

.item7 {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

/* 글 제목 */
.item7_box{
	display: flex;
	/* border-top: 1px solid black; */
	border-bottom: 1px solid black;
	/* padding-top: 20px;
	padding-bottom: 20px;
	justify-content: space-between; */
} 

/* 글 내용 */
.item8 {
	display: flex;
	justify-content: space-between;
	/*border-bottozm: 1px solid black; */
	padding-top: 20px;
	padding-bottom: 20px;
}

.item8_1 {
	border-bottozm: 1px solid black;
}

/* 사례금 */
/*
.item10 {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
}
*/
.item10_1 {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* 등록 취소 버튼 */
.btn {
	display: flex;
	justify-content: center;
	/*border-top: 4px solid black;*/
	margin-top: 20px;
	margin-bottom: 20px;
}

.map_wrap {position:relative;width:100%;height:350px;}
.title {font-weight:bold;display:block;}
.hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
 #centerAddr {display:block;margin-top:2px;font-weight: normal;}
.bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

