@charset "UTF-8";

.container {
	width: 50vw;
	margin: 0 auto;
	padding-top : 400px;
}

.containerBtn{
    display: flex;
    justify-content: row;
}

.section-mypage-title {
	border-bottom: 4px solid black;
	width: 200px;
}

.col-md-9 {
	margin : auto 0;
}

div.table-container{
	width : 73vw;
	margin: 0 auto;
}

table#outout{
	width : 80% !important;
	font-size: 1.5rem !important;
}

a { 
	text-decoration:none
}