<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>대댓 달기</title>
    
</head>
<body>

	<div id="comment" style="width:100%;height:350px; "></div>
	<div class="container">
		<form name="commentInsertForm" method="post" enctype="multipart/form-data">
	        <div class="comtitle"><h3>대 댓 글</h3>
	        <input type="hidden" name="Lost_PostNum" value="<%= request.getParameter("lost_PostNum") %>"/></div>
	        
			
	        <div class="cominput">
	        	<input type="hidden" name="Id" value="${loginUser}"/>
	           <textarea class="commentbox" name="Com_Content" placeholder="댓글을 입력해주세요."></textarea>
	           
	           <div class="com2">
	           
	               <div class="com_btn">
	              	  <button type="reset" class="button2">취소</button>
	                  <button type="button" class="button1" name="commentInsertBtn" >등록</button>
	                 	                  
	                  <input type="checkbox" id="Secret_Com" name="Secret_Com">비밀댓글 
	               </div>
	               <span style="color:#aaa;" id="counter">(0 / 최대 200자)</span>
	          		
	           </div>  
	        </div>
		</form>
		
    </div> 
    
	<script>
	/* $(document).ready(function(){
		var a ='';
		
		a += 'div';
		a += '<input type="text" name="content_'+com_Num+'" value="'+com_Content+'"/>';
		a += '<span ><button type="button" onclick="commentUpdate('+com_Num+');">수정</button> </span>';
		a += '<span ><button type="button" onclick="commentList();">취소</button> </span>';
		a += '</div>';
		
		$('.commentContent'+com_Num).html(a);
	}; */
	
	//댓글 수정
	function commentUpdate(com_Num){
		
		var updateContent = $('[name=content_'+com_Num+']').val();
		
		$.ajax({
			url : '/imfind/comment_update',
			//type : 'post',
			dataType : 'json',
			data : {'Com_Content' : updateContent, 'Com_Num' : com_Num}, // cno comment에 대한 글 번호
			contentType : 'application/x-www-form-urlencoded;charset=utf-8',
			success : function(data){
				if(data == 1) 
					commentList(); //댓글 수정후 목록 출력
			},
			error:function(){
				alert("ajax통신 실패(update)!!");
			}
		});
	}
	
	</script>
</body>
</html>