<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--유희 : 로그인과 회원가입에 필요한 mapper 입니다. -->

<mapper namespace="com.spring.mapper.YH.AlarmMapper">
	
	<insert id="insertAlarm" parameterType="AlarmDTO">
		insert into alarm_list 
			values
			(
				#{postNum},
				#{alarm_content},
				#{id},
				#{sender}
			)
	</insert>
	
	<select id="getAlarm" resultType="AlarmDTO">
		select * from alarm_list where id = #{id}
	</select>

</mapper>
