<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.EJ.BoardMapper">

	<insert id = "itemInsert" >
	insert into LostPost 
	(Lost_Title, 
	Lost_Content, 
	Lost_Up_File,
	Lost_Item, 
	Lost_Re_Date, 
	Lost_Date, 
	Lost_Loc, 
	Lost_Pay,
	Id,
	PayCode)values 
	(#{Lost_Title}, 
	#{Lost_Content}, 
	#{Lost_Up_File},
	#{Lost_Item}, 
	sysdate, 
	#{Lost_Date}, 
	#{Lost_Loc}, 
	#{Lost_Pay},
	#{Id},
	#{PayCode})
	
   	<selectKey resultType="int"  keyProperty="postNum"  order="AFTER">
   		select lost_postnum from lostpost where paycode = #{PayCode};
   		update pay set lost_postnum = #{Lost_PostNum} where paycode = #{PayCode};
   	</selectKey>
	
	
	</insert>
	 
	 <select id="getPayMember" resultType="com.spring.imfind.el.EJ.MemberVO">
	 SELECT id, Name, Contact, Email from Member 
	 WHERE id=#{id}
	 </select>
	 
	 <insert id = "insertPay" >
	 insert into Pay 
	 (PayCode, 
	 Pay_Amount, 
	 Pay_State, 
	 Pay_Date,
	 Id)values 
	 (#{PayCode}, 
	 #{Pay_Amount}, 
	 #{Pay_State},
	 #{Pay_Date},
	 #{Id})
	 </insert>
	 
	 <update id = "updatePay" parameterType="PayVO">
		 update Pay set Pay_State = #{Pay_State} where Id=#{Id} AND PayCode=#{PayCode}
		 update pay set lost_postnum = #{postNum} where paycode = #{PayCode}
	 </update>
	
 	 <insert id = "petInsert" >
	 insert into PetPost 
	 (Pet_Title, 
	 Pet_Content, 
	 pet_Name, 
	 pet_Re_Date, 
	 pet_LostDate, 
	 pet_Up_File,
	 pet_Loc, 
	 pet_Pay,
	 Id)values 
	 (#{pet_Title}, 
	 #{pet_Content}, 
	 #{pet_Name}, 
	 sysdate, 
	 #{pet_LostDate}, 
	 #{pet_Up_File},
	 #{pet_Loc}, 
	 #{pet_Pay},
	 #{Id})
	 </insert>
	 <!-- 여기서 동적쿼리문으로 조건문 처리  -->
	 <insert id="commentInsert" parameterType="LostComVO">
        <selectKey keyProperty="Com_Num" order="BEFORE" resultType="int">
            select nvl(max(Com_Num), 0)+1 from Re_Comment
        </selectKey>  
          insert into Re_Comment (Com_Num, Lost_PostNum, Com_Content, Id, Com_Date, Secret_Com)
          values(#{Com_Num},#{Lost_PostNum},#{Com_Content},#{Id},sysdate,#{Secret_Com})
     </insert>
    
     <select id ="commentList" parameterType="int" resultType="LostComVO">
      select * from Re_Comment where Lost_PostNum = #{Lost_PostNum} order by Com_Num desc
     </select>
	 
	 <select id = "commentCount" resultType="int">
      select count(*) from Re_Comment
     </select>
    
     <update id ="commentUpdate" parameterType="LostComVO">
      update Re_Comment set Com_Content = #{Com_Content} WHERE Com_Num = #{Com_Num}
     </update>
     
     <delete id="commentDelete" parameterType="int">
      delete from Re_Comment WHERE Com_Num = #{Com_Num}
     </delete>
     
     <!-- 동준 대댓글 -->
     <insert id="replyInsert" parameterType="replyVO">
        <selectKey keyProperty="re_num" order="BEFORE" resultType="int">
            select nvl(max(re_Num), 0)+1 from reply
        </selectKey>  
          insert into reply (re_num,re_content,re_date,id,com_num)
          values(#{re_num},#{re_content},sysdate,#{id},#{com_num})
     </insert>
     
    <select id ="replyList"  resultType="replyVO">
      select * from reply order by re_num    
   </select>
   <delete id ="replyDelete">
      delete from reply where re_num = #{re_num}    
   </delete>
    <!-- 동준 대댓글  끝-->
    
    <!-- 인덱스페이지 사례금 상위 5개  -->
    <select id="gethighsetLostPay" resultType="BoardVO">
    	select * from ( select * from lostpost order by lost_pay desc) where <![CDATA[ rownum <= 5 ]]>
    </select>
        <select id="gethighsetPetPay" resultType="PetVO">
    	select * from ( select * from petpost order by pet_pay desc) where <![CDATA[ rownum <= 5 ]]>
    </select>
    
    <update id="addPayBoardNum" parameterType="BoardVO" >
    
    	<selectKey resultType="int"  keyProperty="postNum"  order="BEFORE">
    		select lost_postnum from lostpost where paycode = #{PayCode}
    	</selectKey>
    	
    	update pay set lost_postnum = #{postNum} where paycode = #{PayCode}
    </update>
    
</mapper>