<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.EJ.BoardMapper">

	<insert id = "itemInsert" >
	insert into LostPost 
	(Lost_Title, 
	Lost_Content, 
	Lost_Item, 
	Lost_Re_Date, 
	Lost_Date, 
	Lost_Loc, 
	Lost_Pay)values 
	(#{Lost_Title}, 
	#{Lost_Content}, 
	#{Lost_Item}, 
	sysdate, 
	#{Lost_Date}, 
	#{Lost_Loc}, 
	#{Lost_Pay})
	</insert>
	 
	 <select id="getPayMember" resultType="com.spring.imfind.el.EJ.MemberVO">
	 SELECT id, Name, Contact, Email from Member 
	 WHERE id=#{id}
	 </select>
	 
	 <insert id = "insertPay" >
	 insert into Pay 
	 (PayCode, 
	 Pay_Amount, 
	 Pay_Way, 
	 Pay_State, 
	 Pay_Date)values 
	 (#{PayCode}, 
	 #{Pay_Amount}, 
	 #{Pay_Way}, 
	 #{Pay_State},
	 #{Pay_Date})
	 </insert>
	
 	 <insert id = "petInsert" >
	 insert into PatPost 
	 (Pat_Title, 
	 Pat_Content, 
	 Pat_Name, 
	 Pat_Re_Date, 
	 Pat_LostDate, 
	 Pat_Loc, 
	 Pat_Pay)values 
	 (#{Pat_Title}, 
	 #{Pat_Content}, 
	 #{Pat_Name}, 
	 sysdate, 
	 #{Pat_LostDate}, 
	 #{Pat_Loc}, 
	 #{Pat_Pay})
	 </insert>
	 
	 <!-- <insert id="commentInsert" parameterType="LostComVO">
		<selectKey keyProperty=Lost_PostNum order="BEFORE" resultType="int">
			select nvl(max(Lost_PostNum), 0)+1 from LostCom
		</selectKey> 인서트 하기전 수행하라. 그 결과를 cno에 저장함. 
	  insert into LostCom (Lost_PostNum, Com_Content, Com_Date)
	  values(#{Lost_PostNum}, #{Com_Content}, sysdate)
	</insert> -->
	
	 
</mapper> 