<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.MJ.ItemMapper">
<select id="getitem"   resultType="ItemVO">
      
      SELECT * FROM (
          SELECT p.*, ROW_NUMBER() OVER(ORDER BY p.lost_postnum ASC) AS RNUM
          FROM lostpost p
      )
     <!--  WHERE RNUM BETWEEN ${Lost_PostNum} AND 10 
       -->
      <!-- WHERE <![CDATA[rnum >= #{1}]]> and <![CDATA[rnum <= #{12}]]> -->
      
      </select>
      
      

</mapper>